POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_DB=db_name
POSTGRES_HOST=postgres # db service name
CONNECTION_STRING=Host=${POSTGRES_HOST};Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}

# JWT
JwtSettings__SecretKey=your_secret_key_12345678901234567 # 32 byte length
JwtSettings__Issuer=Issuer
JwtSettings__Audience=Audience
JwtSettings__ExpirationInSeconds=3600

# ASP.NET
ASPNETCORE_ENVIRONMENT=Development